.userAcc a.newProduct:after, #content ul.products:before, #masthead a .signIn .loginForm p:after, .userAcc ul:after, .userAcc .userAccIn:after, #activity-stream li:after, #whats-new-form:after, .entry-content:after, .wp-breadcrumbs:after, #masthead:after, .site-content:after {
	clear: both;
	content: "";
	display: block;
	overflow: hidden;
	height: 0;
	line-height: 0;	
}

.clear {
	clear: both;
}
h1, h2, h3, h4 {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Serif, Arial;
	font-weight: 100;
	margin: 0;
	color: #000;
}
body {
	background: #F0F0ED;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Serif, Arial;
	font-weight: 300;
	font-size: 12px;
	color: #999;
}

#page {
	width: 1200px;
	margin: 0px auto;
}

#masthead {
	background: #33363C;
	height: 50px;
	position: relative;
}
.roundedHeader {
	border-radius: 0px 0px 3px 3px;
}

#masthead h1 {
	font-size: 160%;
	margin: 0;
	padding: 10px 15px;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
	font-weight: 300;
}
#masthead hgroup {
	float: left;
}
#masthead a {
	color: #fff;
}
#masthead h1 a:hover {
	text-decoration: none;
}
#masthead h1 i {
	color: #299CBE;
	display: inline-block;
	padding: 2px 5px 0 0;
}
#masthead:hover h1 i {
	color: #34B1D3;
}

#masthead nav {
	float: left;
}
#masthead nav li, #masthead nav a {
	float: left;
	list-style: none;
}
#masthead nav a {
	padding: 6px 10px;
	margin-right: 5px;
}
#masthead nav a:hover {
	background: #4C515E;	
	text-decoration: none;
	border-radius: 8px;
}
#masthead ul, #masthead ol {
	margin: 9px;
}
#masthead .btn-link {
	color: #fff;
	text-shadow: none;
	text-decoration: underline;
}
#masthead .btn-link:hover {
	text-decoration: none;
}

#masthead input[type="radio"], #masthead input[type="checkbox"] {
	margin: 0;
}
#masthead input {
	border: 0;
}
#masthead a .signIn {
	display: none;
}
#masthead a:hover .signIn {
	display: block;
	position: absolute;
	right: 0px;
	top: 41px;
	padding-top: 15px;
	background: #33363C;
	z-index: 90;
	border-radius: 0 0 3px 3px;
	text-align: left;
}
#masthead a .signIn .loginForm {
	padding: 10px;
	font-weight: normal;
}
#masthead a .signIn .loginForm p input {
	float: right;
}
#masthead a .signIn .loginForm p label {
	float: left;
	font-weight: normal;
	padding: 3px 15px 0 0;
}
#masthead a .signIn .loginForm p.login-submit {
	margin: 0;
}
#masthead a .signIn .loginForm p label input {
	margin: 2px 0 0 24px;
}
#masthead a .signIn .loginForm .login-submit input[type="submit"] {
	background-color: #5CB85C;
	border-color: #4CAE4C;
	-moz-user-select: none;
	background-image: none;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 8px 12px 6px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	color: #fff;
}
#masthead a .signIn .loginForm .login-submit input[type="submit"]:hover {
	color: #ffffff;
	background-color: #47a447;
	border-color: #398439;
}

.loginRegister {
	float: right;	
	padding: 7px 10px;
}
#masthead .userAcclink {
	 display: block;
	 float: right;
	 padding: 12px 15px 0;
}
#masthead .userAcclink strong {
	display: block;
	float: left;
	font-size: 14px;
	font-weight: 400;
	padding: 5px 0 0;
}
#masthead .userAcclink img {
	border-radius: 3px;
	float: left;
	height: 27px;
	margin-right: 10px;
	width: 27px;
}

.wp-breadcrumbs {
	margin: 20px 15px;
}
.wp-breadcrumbs li {
	float: left;
	padding-right: 5px;
}
.wp-breadcrumbs li a {
	color: #999;
}
.wp-breadcrumbs li.last {
	font-weight: bold;
}

#secondary aside, #primary.site-content, #content {
	background: #fff;
	border-radius: 3px;
}
#secondary aside.widget_product_categories h3 {
	display: none;
}
#secondary aside {
	margin: 0px 20px 20px 0;
}
#primary {
	float: right;
	width: 80%;
}
.full-width #primary {
	float: none;
	width: auto;
}
#secondary {
	float: left;
	width: 20%;
}
#secondary aside {
	padding-bottom: 2px;
}
#secondary aside h3 {
	color: #DD6464;
	font-size: 25px;
	font-weight: 100;
	height: 42px;
	letter-spacing: 0;
	line-height: 100%;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 10px;
}
#primary #content h1 {
	font-size: 45px;	
	color: #000;
	line-height: 100%;
	padding: 10px 10px 10px 0;
}
#primary.site-content {
	position: relative;
}
.register-section {
	float: left;
	width: 50%;
}
.register-section textarea, .register-section input[type="password"], .register-section input[type="text"] {
	width: 80%;
}
#register-page .submit{
	text-align: center;
	padding: 40px 0 0;
	clear: both;
}
h4 {
	color: #666;
}
.entry-content label, #content label {
	color: #777;
}
.register-section .error {
	color: #BF2020;
	font-weight: bold;
}
#message p {
	margin: 0;
}
aside #item-header-avatar {
	padding: 20px;
}
aside #item-header-avatar a {
	display: block;
	border-radius: 6px;
	overflow: hidden;
}
aside #item-header-content {
	padding: 0px 20px;
}
aside #item-header-content h2 {
	font-size: 180%;
	color: #33363C;
	margin-bottom: 0;
	line-height: 120%;
}
aside #item-header-content h4 {
	margin: 0;
	font-weight: normal;
	font-size: 120%;
}
aside #latest-update {
	font-weight: bold;
	color: #33363C;
	font-size: 140%;
	margin-top: 20px;
}
aside #latest-update a {
	display: none;
}
aside #latest-update:before {
	content: "“";
	font-size: 140%;
	opacity: .2;
}
aside #latest-update:after {
	content: '„';
	font-size: 140%;
	opacity: .2;
}

#item-nav {
	margin: 20px 20px 0;
}
#item-nav ul {
	margin: 0px;
}
#item-body #subnav {
	clear: both;
	margin: 20px 20px 0;
}
#item-body #subnav ul {
	margin-bottom: 0;
}
#item-body #subnav li a {
	font-size: 120%;
}

groups-order-select

#item-body #subnav #groups-order-select select, #item-body #subnav #groups-order-select label,
#item-body #subnav #members-order-select select, #item-body #subnav #members-order-select label, 
#item-body #subnav #activity-filter-select select, #item-body #subnav #activity-filter-select label {
	float: left;
}
#item-body #subnav #groups-order-select label,
#item-body #subnav #activity-filter-select label,
#item-body #subnav #members-order-select label {
	padding: 5px;
}
#item-body #subnav #groups-order-select,
#item-body #subnav #members-order-select,
#item-body #subnav #activity-filter-select {
	float: right;
}

.message-search {
	position: absolute;
	right: 20px;
	top: 106px;
}
.message-search input[type="text"], .message-search label {
	float: left;
	width: 160px;
	border-radius: 4px 0 0 4px;
}
.message-search input[type="submit"] {
	float: left;
	border-radius: 0 4px 4px 0;
	border: 1px solid #CCCCCC;
	padding: 6px 12px 5px !important;
}

#whats-new-form {
	padding: 20px 40px 20px 43px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}
#whats-new-form textarea {
	background: #F7F7F7;
	border-radius: 6px;
	width: 98%;
	height: 30px;
}
.ac-textarea, .ac-textarea textarea {
	width: 99%;
	border-radius: 6px;
}
#whats-new-form textarea:focus {
	background: #fff;
}
#whats-new-avatar {
	float: left;
}
#activity-stream li .ac-reply-avatar img, #activity-stream .acomment-avatar a, #activity-stream .activity-avatar a, #whats-new-avatar a {
	display: block;
	overflow: hidden;
	border-radius: 6px;
}
#whats-new-content {
	margin-left: 60px;
}
#whats-new-options {
	height: auto !important;
}

#activity-stream {
	margin: 0;
}
#activity-stream li {
	margin: 0 0 20px;
}
#activity-stream li li {
	margin: 20px 0 0;
}
#activity-stream li .ac-reply-avatar, #activity-stream li .activity-avatar, #activity-stream li .acomment-avatar {
	float: left;
}
.ac-reply-content, #activity-stream li li .acomment-options, #activity-stream li .acomment-meta, #activity-stream li .activity-content, #activity-stream li .acomment-content {
	margin-left: 60px;
}
#activity-stream li .activity-content p, #activity-stream li .acomment-content p {
	margin-bottom: 6px;
}
#activity-stream li .activity-content p a img, #activity-stream li .acomment-content p a img {
	border-radius: 3px;
	margin: -2px 3px 0 0;
}
#activity-stream li .activity-meta, #activity-stream li li .acomment-options {
	opacity: .1;
}
#activity-stream li:hover .activity-meta, #activity-stream li li:hover .acomment-options {
	opacity: 1;
}
.activity-comments form{
	background: #F7F7F7;
	margin: 20px;
	border-radius: 12px;
	padding: 20px;
}

.label-small {
	font-size: 80%;
}

.profile-fields td.data {
	padding-left: 50px;
}
.widget_product_categories {
	border-top: 4px solid #FBCB43;
}
.widget_product_categories ul.product-categories {
	padding: 10px 10px 0px;	
}

.widget_product_categories ul.product-categories li a {
	color: #000;
	display: block;
	padding: 6px 8px;
	font-size: 14px;
	outline: none;
	font-weight: 400;
	border-radius: 2px;
	text-shadow: 0px 1px 0px #fff;
}
.widget_product_categories ul.product-categories li a:hover {
	text-decoration: none;
	background: #F8F8F8;
}
.widget_product_categories ul.product-categories li.current-cat-parent ul.children, .widget_product_categories ul.product-categories li.current-cat ul.children {
	margin-top: 5px;
	margin-bottom: 15px;
}
.widget_product_categories ul.product-categories li ul.children a {
	background: #fff;
	padding: 1px 5px 1px 15px;
}

.widget_product_categories ul li.current-cat a, .widget_product_categories ul li.current-cat-parent a {
	color: #F2BD41;
	text-decoration: none;
	font-weight: 500;
}
.widget_product_categories ul li.current-cat a:hover, .widget_product_categories ul li.current-cat-parent a:hover {
	background: transparent;
}

.widget_product_categories ul li ul.children a, .widget_product_categories ul li.current-cat ul.children a {
	color: #268aad;
	font-weight: 300;
}
.widget_product_categories ul li ul li.current-cat a, .widget_product_categories ul li ul.children a:hover, .widget_product_categories ul li.current-cat ul.children a:hover {
	color: #DD6464;
}
.widget_product_categories ul li ul li.current-cat a {
	font-weight: 400;
}

/* user acc panel */

.userAcc {
	background: #fff;
	margin-bottom: 20px;
	border-radius: 0px 0px 3px 3px;
}
.userAcc .userAccIn {
	padding: 15px;
}
.userAcc, .userAcc a {
	color: #000;
}
.userAcc .userAcclink {
	float: left;
	margin: 5px;
	color: #34B1D3;
}
.userAcc .userAcclink img {
	border-radius: 3px;
	margin-right: 10px;
	width: 27px;
	height: 27px;
}
.userAcc ul {
	margin: 0;
	float: right;
}
.userAcc ul li {
	float: left;
}
.userAcc ul li a {
	border-radius: 3px;
	color: #888888;
	display: block;
	float: left;
	font-weight: 400;
	margin: 5px;
	padding: 5px 10px;
	position: relative;
	text-align: center;
}

.userAcc a.newProduct {
	display: block;
	padding: 0;
	color: #8CC474;
	position: relative;
	float: left;
	outline: none;
}
.userAcc a.newProduct strong {
	font-weight: 100;
	font-size: 30px;
	text-align: center;
	display: table-cell;
	width: 40px;
	height: 40px;
	background: #E8F4E3;
	color: #8CC474;
	border-radius: 50%;
	float: left;
	line-height: 38px;
	left: 0px;
	top: 0px;
	position: absolute;
	vertical-align: middle;
	transition: all 200ms ease-in-out 0s;
}
.userAcc a.newProduct:hover strong {
	height: 46px;
	width: 46px;
	left: -3px;
	top: -3px;
	line-height: 44px;
}
.userAcc a.newProduct em {
	display: block;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	margin: 10px 10px 0 55px;
	white-space: nowrap;
	float: left;
	width: 142px;
}
.userAcc a.newProduct:hover em {
	text-decoration: underline;
}
.userAcc a.newProduct:hover {
	text-decoration: none;
}

.userAcc .user ul li a span {
	background: none repeat scroll 0 0 #F4B60C;
	border-radius: 20px;
	color: #FFFFFF;
	display: block;
	font-size: 80%;
	font-weight: 400;
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: -6px;
	text-align: center;
	top: -2px;
	width: 16px;
}
.userAcc .user ul li a:hover span {
	text-decoration: none;
}

/* primary content = hlavni cast */

#content .term-description {
	position: relative;
}
#content .term-description p{
 	font-style: italic;
 	margin-bottom: 15px;
 	text-align: justify;
}
#content .woocommerce-result-count {
	float: left;
}
#content .woocommerce-ordering {
	float: right;
}
#content .woocommerce-ordering select {
	background: #fff;
	opacity: .4;
	padding: 5px;
	border: 0px;
	border: 1px solid #ddd;
	border-radius: 2px;
}
#content .woocommerce-ordering select:hover {
	opacity: 1;
}

/* vypis podkategorii */
/*#content ul.products .product-category {
	float: left;
}*/


#content .products .product {
	float: left;
	margin: 0;
	width: 25%;
}
#content .products .product a {
	display: block;
	padding: 10px;
}
#content .products .product a img {
	border-radius: 3px;
	width: 100%;
}


 /* Add of new product / pridani noveho vyrobku */
 
#content.newProduct {
	border-top: 4px solid #8CC474;
}
#content.newProduct article header {
	background: #8CC474;
}
#content.newProduct article header h2 {
	color: #FFFFFF;
	line-height: 40px;
	padding: 8px 8px 13px 15px;
}
#content.newProduct article header h2 strong {
	border: 1px solid #FFFFFF;
	border-radius: 50%;
	display: block;
	float: left;
	font-family: "Helvetica Neue",Helvetica;
	font-weight: 100;
	height: 40px;
	margin-right: 10px;
	text-align: center;
	width: 40px;
	line-height: 32px;
}

#content.newProduct article .entry-content {
/*	padding: 15px;*/
}
#content.newProduct #novy_produkt_form > table > tbody > tr > td {
	border-bottom: 1px solid #EEEEEE;
	color: #000;
	font-size: 14px;
	font-weight: 400;
	padding: 30px;
	text-align: left;
}
#content.newProduct .napoveda {
	font-weight: 300;
	font-size: 12px;
}
.select2-container, .select2-container-multi {
	width: 100%;
}
.select2-container-multi .select2-choices, #content.newProduct td input[type="text"] {
	border: 0px;
/*	box-shadow: 0px 3px 0px rgba(251, 203, 67, .3);*/
	padding: 5px 10px;
	background:  rgba(251, 203, 67, .05);
	border: 2px solid  rgba(251, 203, 67, 1);
	color: #000;
	width: 40%;
	font-weight: 400;
	border-radius: 3px;
}
.select2-container-multi .select2-choices {
	padding: 0;
}
#content.newProduct td .select2-container-multi .select2-choices input[type="text"] {
	border: 0;
	background: transparent;
	box-shadow: none;
}
#content.newProduct td label.valid {
	
}
span.underline {
	border-bottom: 1px dashed #000;
}

#content.newProduct table {
	width: 100%;
}

.select2-container-multi .select2-choices .select2-search-choice {
	background: rgba(251, 203, 67, 1);
	border: 0 none;
	box-shadow: none;
	color: #FFFFFF;
	padding: 5px 8px 7px 25px;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	margin-left: 3px;
}
.select2-container-multi .select2-search-choice-close {
	left: 8px;
	top: 6px;
}
#content.newProduct .wp-editor-wrap {
	width: 91%;
}
#content.newProduct .wp-editor-container {
	border: 1px solid #eee;	
}
#content.newProduct td.parametr li {
	float: left;
}
#content.newProduct td.parametr li img {
	float: left;
	border-radius: 3px;
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
#content.newProduct td.parametr li label {
	font-weight: 300;
}

#content.newProduct tr > td:first-child > span {
	display: block;
	margin-bottom: 15px;
}